{% extends 'base.html' %}

{% block content %}
<p id="productForm"></p>
<h1 class="font-bold text-6xl text-center">Pembayaran</h1>
<table class="w-full m-5">
<tr>
    <th>Id</th>
    <th>Status</th>
    <th>Total Price</th>
    <th>Paid</th>
    <th>Due</th>
</tr>
{% for transaction in transactions %}
<tr>
    <td>{{ transaction.id }}</td>
    <td class="text-center">{{ transaction.payment_status }}</td>
    <td>{{ transaction.total_price }}</td>
    <td>{{ transaction.amount_paid }}</td>
    <td>{{ transaction.amount_due }}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}
