{% extends 'base.html' %}

{% block content %}
<p id="productForm"></p>
<h1 class="font-bold text-6xl text-center">Pembayaran</h1>
<table class="w-full m-5">
<thead>
    <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Total Price</th>
        <th>Paid</th>
        <th>Due</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody id="transactions-container">
</tbody>
</table>
{% include 'modals/modal.html' %}
<script>
"use strict";

const TRANSACTIONS_API_ENDPOINT = "{% url 'payment:show_json' %}";
const TRANSACTIONS_CONTAINER = document.getElementById('transactions-container');

let transactionData = [];

async function fetchTransactionData() {
    try {

        const response = await fetch(TRANSACTIONS_API_ENDPOINT, {
            headers: { 'Accept': 'application/json' },
        });

        transactionData = await response.json() || [];

    } catch (e) {
        throw e;
    }
}

function renderTransactionData() {
    TRANSACTIONS_CONTAINER.replaceChildren();
    transactionData.forEach(transaction => {

        const pk = transaction.pk;

        let row = document.createElement("tr");

        const payButton = `
            <button onclick="showTransactionPaymentModal('${pk}')">Pay</button>
        `;
        const completeButton = `
            <button onclick="showTransactionCompletionModal('${pk}')">Complete</button>
        `;
        const deleteButton = `
            <button onclick="showTransactionDeletionModal('${pk}')">Delete</button>
        `;

        row.innerHTML = `
            <td>${pk}</td>
            <td>${transaction.fields.payment_status}</td>
            <td>${transaction.fields.total_price}</td>
            <td>${transaction.fields.amount_paid}</td>
            <td>${transaction.fields.amount_due}</td>
            <td>${payButton}${completeButton}${deleteButton}</td>
        `;

        TRANSACTIONS_CONTAINER.appendChild(row);

    });
}

function init(e) {
    fetchTransactionData().then(
        value => { renderTransactionData(); },
        error => { console.error("Error loading transactions:", e); }
    );
}

window.onload = init;
</script>
{% endblock content %}
